{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body>
    <div class="container">
        <h2>Registration Form</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="fullname">username:</label>
                <input type="text" id="fullname" name="username" required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            
            <div class="form-group">
                <label for="password">confirm_Password:</label>
                <input type="password" id="password" name="confirm_password" required>
            </div>
            <!--for adding files from device-->
            <div class="form-group">
                <label for="password">Photo:</label>
                <input type="file" id="photo" name="photo">
            </div>


            <div class="buttons">
                <button type="submit" class="register">Register</button>
                <button type="button" class="cancel">Cancel</button>
            </div>
</body>
</html>